* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

.blur {
    filter: blur(2px);
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 35px;
    gap: 10px;
}

button:hover,
.game-board button:hover {
    background-color: lightgray;
}

input[type="text"] {
    border: none;
    font: inherit;
    font-size: inherit;
    margin-bottom: 5px;
}

.main-container > :first-child {
    justify-self: end;
}

.game-center {
    display: grid;
    text-align: center;
    gap: 25px;
}

.start-button,
.message-board,
.game-board {
    border: 2px solid black;
}  

.message-board {
    width: 80%;
    margin: auto;
    padding: 5px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 50px);
    gap: 2px;
    background-color: black;
}

.game-board button {
    background-color: white;
    padding-top: 5px;
    border: none;
}

.start-button {
    padding: 10px;
    width: 50%;
    background-color: white;
}